In [2]:
# Write a function that will output "Hello World" on the screen

In [3]:
def func():
    print("Hello World")

In [4]:
func()

Hello World

In [5]:
# Write a function of type w/o Argument and W Return Type 
# and output "Hello World" on the screen

In [9]:
def func_one():
    return "Hello World"

In [10]:
func_one()

'Hello World'

In [2]:
# We have to create a list that contains 1-50 Real Numbers. 
# How can you achieve ?
x = []
for i in range(1, 51):
    x.append(i)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [3]:
# We have to create a list that contains Even Real Numbers. 
# How can you achieve ?
x = []
for i in range(1, 51):
    if i % 2 ==0:
        x.append(i)
print(x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [9]:
# We have to create a list that contains numbers that are exactly divisible by 11. 
# How can you achieve ?
x = []
for i in range(11, 51, 11):
    x.append(i*3)
print(x)

[11, 22, 33, 44]

In [13]:
# Can you achieve this without using Conditional Statement i.e. if-else
# 1. Find even numbers between 1,50
# 2. Find all the numbers that're divisible by eleven and lies between 1 to 50.
#List Comprehension
x = [ i*3 for i in range(11, 51, 11) ]
print(x)

[33, 66, 99, 132]

In [18]:
#With Argument and With Return Type

#Lambda for a single line return statement
def add_me(x, y):
    return (x+y)
# Lambda Functions W Return Type
add_me_abdje = lambda x, y : (x + y)

In [19]:
add_me(10, 20)

30

In [20]:
add_me_abdje(30, 40)

70

In [21]:
#Without Argument and With Return Type
def func():
    return "Hello world"

my_lamb = lambda : "Hello World"

In [22]:
func()

'Hello world'

In [23]:
my_lamb()

'Hello World'

In [25]:
# Find Prime Numbers between 1 to 50
for i in range(2, 51):
    prime = True
    for j in range(2, i):
        if i % j == 0:
            prime = False
            break
    if prime:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [27]:
for i in range(2,10):
    if 10 % i == 0:
        print("I'm Now Breaked", i)
        break
else:
    print("I'm in else", i)

I'm Now Breaked 2

In [2]:
#Classes and Object
class Test:
    x = None
    y = None
    
    def xyz(s, x):
        print("Hello world", x)
        
c_one = Test()
print(c_one.x)
c_one.xyz(123)

None
Hello world 123